@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

.snowflake {
  position: absolute;
  top: -10px;
  color: #fff;
  opacity: 0.8;
  animation-name: snowfall;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
